doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/javascripts/game.js" type="module" defer)
    //- script(src="/javascripts/solution.js" type="module" defer)
    link(href='https://fonts.googleapis.com/css?family=Amatic+SC:400,700' rel='stylesheet' type='text/css')

  body
    block content


