extends layout

block content
  h1= title
  p Welcome to #{title}
  div.game-board
    - var n = 0;
    while n < 20
      div.flip-card(id=n++)
        div.flip-card-inner
          div.flip-card-front Square #{n}
          div.flip-card-back Back of Card
  