extends layout

block content
  h1= title
  p Welcome to #{title}
  div.game-board
    - var n = 1;
    while n < 21
      div.square(id=n).flip-card 
        div.flip-card-inner  
          div.flip-card-front 
          div.flip-card-back Square #{n++}
