extends layout

block content
  div.text-2xl.font-semibold.text-pink-500 Full Join #{title}
    div#winner.font-semibold.text-pink-500.text-3xl
    div.game-board.p-4
      - var n = 0;
      while n < 20
        div.flip-card(id=n++)
          div.flip-card-inner
            div.flip-card-front
            div.flip-card-back.bg-yellow-400.text-5xl