doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/tailwind.css')
    script(src="/javascripts/init.js" type="module" defer)

  body
    block content
